# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
media/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Static Files (optional)
staticfiles/

# OS Files
.DS_Store
Thumbs.db